<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="type.css">
  </head>
  <body>
    <h1 class="d-flex justify-content-center align-items-center" style="height:5em">Crop</h1>
    <div class="container-fluid d-flex justify-content-center">
    <form class="d-flex w-50 " role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
    <div class="card-row row">
        <div class="col-md-4">
          <div class="card">
              <img src="Teff-removebg-preview.png" class="card-img-top" alt="Your Image 1">
              <div class="card-footer d-flex  justify-content-center">
              <a href="#" class="btn btn-success w-75">Teff</a>
            </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="coffee-remove background.png" class="card-img-top" alt="Your Image 1">
            <div class="card-footer d-flex  justify-content-center">
            <a href="#" class="btn btn-success w-75">coffee</a>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="card">
              <img src="weaht bg removed.png" class="card-img-top" alt="Your Image 1">
              <div class="card-footer d-flex  justify-content-center">
              <a href="#" class="btn btn-success w-75">Wheat</a>
            </div>
        </div>
      </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>