.bgi {
    background-image: url("/img/Home.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.bgi-bg{
    position: absolute;
    z-index: -1;
    background-color:white;
    width:100%;
    height:100%;
   }
.headingo {
    padding-top: 150px;
    font-size: xx-large;
}

.btu1 {

    border: none;
    width: 200px;
    height: 100px;
    border-radius: 20px;

}

.btu2 {
    border: none;
    margin-left: 50px;

    width: 200px;
    height: 100px;
    border-radius: 20px;
}
.btu4{
    padding-top: 50px;
}
.textu{
    padding-top:60px;
   
}
.navbaru{
    background-color: 
    #517E5C;

}
.padu{
    margin-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
.hhh{
    padding-bottom: 20px;
}
.abc{
    width: 100%;
    height: 100%;
}
.huhu{
    padding-left: 20px;
}
.bibi{
    display: flex;
   justify-content: space-around;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }

.homei{
        padding-top: 10px;
        padding-left: 40px;
      
    }
.homeo{
        padding-left: 100px;
    }
.btuu{
    padding-bottom: 10px;

}
.meow{
    color: #3931af;
}

.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}
#wh img{
   width:650px;
   bottom: 100px;
    padding-left: 10px;
}
.mumu{
    width:600px;
    height:100px;
}
