{% extends 'base.html' %}
{% load static %}
{% block content %}


        <div class="vh-100 d-flex align-items-center container-fluid">
            <div class="col container d-flex justify-content-center">
          
                  
              <div>
                <div class="col">
                  <div>
                    <h5> Latitude:</h5>
                    <p>{{ datas.latitude }}</p>
                  </div>
                    
                  <div>
                    <h5> longitude:</h5>
                    <p>{{ datas.longitude }}</p>
                  </div>
                   
                  <div>
                    <h5> elevation:</h5>
                    <p>{{ datas.elevation }}</p>
                  </div>
                </div>
                 
              <div class="col">
                <div>
                  <h5> temprature:</h5>
                  <p>{{  datas.current_weather.temperature }}</p>
                </div>
    

                <div>
                  <h5> wind speed:</h5>
                  <p>{{ datas.current_weather.windspeed }}</p>
                </div>
          
                <div>
                  <h5> wind direction:</h5>
                  <p>{{ datas.current_weather.winddirection }}</p>
                </div>
      
              </div>
               
                <div>
                  <h5> Time:</h5>
                  <p>{{ datas.current_weather.time }}</p>
                </div>
              </div>
            </div>    
              
              <div class="col container justify-content-center">
                <div class="row d-flex m-5 justify-content-center">
                    <h1 class="text-danger">
                        There is % of drought happening in your area
                    </h1>
                  </div>
                  
                  <div class="row m-5 d-flex justify-content-center">
                    <p>
                        there is a risk of drought in your area...
                    </p>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <button type="button" class="btn w-50 btn-success">Read More</button>
                </div>

              </div>
            
          </div>

          <div class=" container-fluid d-flex justify-content-center vh-100">
            <div class="border m-3 d-flex justify-content-center align-items-center">
              <div class="vh-100">
                <div class="row d-flex align-items-center" style="height:10em">
                  <h3 class="d-flex align-items-center justify-content-center ">
                    Information Center
                  </h3>
                </div>
                <div class="row d-flex m-3 align-items-center justify-content-between">
                  <div class="col d-flex justify-content-center">
                    <div class="card m-4" style="width: 18rem;">
                      <div class="card-body ">
                        <div class="row">
                          <div class="d-flex justify-content-center">
                            <img src="{% static '/img/crops.jpeg'%}" alt="" style="width:100%">
                          </div>
                        </div>
                        <div class="row d-flex m-2 align-items-center justify-content-center">
                          <button type="button" class="btn w-50 btn-success">Crop Types</button>
                        </div>
                       
                       
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex justify-content-center">
                    <div class="card m-4" style="width: 18rem;">
                      <div class="card-body ">
                        <div class="row">
                          <div class=" d-flex justify-content-center">
                            <img src="{% static '/img/regions.png'%}" alt="" style="width:100%">
                          </div>
                        </div>
                        <div class="row d-flex m-2 align-items-center justify-content-center">
                          <button type="button" class="btn w-75 btn-success">Region Information</button>
                        </div>
                       
                       
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex justify-content-center">
                    <div class="card m-4" style="width: 16rem;">
                      <div class="card-body ">
                        <div class="row">
                          <div class="d-flex justify-content-center">
                            <img src="{% static '/img/Crop Progression.jpeg'%}" alt="" style="width:100%">
                          </div>
                        </div>
                        <div class="row d-flex m-2 align-items-center justify-content-center">
                          <button type="button" class="btn w-75 btn-success">Crop progress</button>
                        </div>
                       
                       
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
    
    
            </div>
            <script type="module" src="./main.js"></script>
          {% endblock %}
          