{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- <section>
            <div class="col-lg-6 homei">
                <h1>Take Your Agriculture<br>
                    To the next level</h1>
                    <p>Our website offers resources and consultation services for drought prevention and 
                        sustainable farming practices.We provide up-to-date information, tools, and expert
                        advice on drought prevention, water conservation, crop management,
                        ad livestock management to help farmers and communities build resilience and adapt
                         to changing weather conditions.Our goal is to empower farmers and communities to 
                        make informed decisions and take action to mitigate the impacts 
                        of drought and build sustainable livelihoods. 
                        Thank you for visiting our website.
                        </p>
            </div>
            <div class="homeo btuu">
                <a href="newsignup.html" target="_blank" class=" text-light  btn-lg btn btn-success me-2 text-white">
                    SIGN UP</a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="newsignin.html" target="_blank" class=" text-light btn-lg btn btn-success me-2 text-white">
                    LOG IN</a>
            </div>
            <div col-lg-6>
                <img src="/img/wheat.png" alt="">
            </div>
    </section> -->
        
        <div class="how-section1 vh-100 bgi-bg bgi">
                            <div class="row homei">
                                <div class="col-md-6">
                                    <h1>Take Your Agriculture<br>
                                        To the next level</h1>
                                        <p>Our website offers resources and consultation services for drought prevention and 
                                            sustainable farming practices.We provide up-to-date information, tools, and expert
                                            advice on drought prevention, water conservation, crop management,
                                            ad livestock management to help farmers and communities build resilience and adapt
                                             to changing weather conditions.Our goal is to empower farmers and communities to 
                                            make informed decisions and take action to mitigate the impacts 
                                            of drought and build sustainable livelihoods. 
                                            Thank you for visiting our website.
                                            </p>
                                </div>
                                <div class="col-md-6 how-img" id ='wh'>
                                    <img src="{% static '/img/wheat.png'%}">
                                </div>
                                
                            </div>
                           
                            
                            
                        </div>

                        {% endblock content %}
    <!-- <div>
        <div class="bgi-bg bgi"></div>
        <section>
            <div>

                <h1 class="text-center headingo">Take Your Agriculture<br>
                    To the next level</h1>
                <p class="text-center ">Our website offers resources and consultation services for drought prevention and
                    <br>
                    sustainable farming practices.We provide up-to-date information, tools, and expert
                    advice on drought prevention, <br>
                    water conservation, crop management,ad livestock management to help farmers and <br>
                    communities build resilience and adapt to changing weather conditions.<br>
                    Our goal is to empower farmers and communities to make informed decisions <br>
                    and take action to mitigate the impacts of drought and build sustainable livelihoods. <br>
                    Thank you for visiting our website.<br>
                </p>

                <div class="text-center pt-2">
                    <div class="">
                        <a href="newsignup.html" target="_blank"
                            class=" text-light  btn-lg btn btn-success me-2 text-white">
                            SIGN UP</a>
                        &nbsp; &nbsp; &nbsp;
                        <a href="newsignin.html" target="_blank"
                            class=" text-light btn-lg btn btn-success me-2 text-white">
                            LOG IN</a>
                    </div>
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
    </div>
    </section> -->

