{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row container-fluid d-flex justify-content-center vh-100">
  <div class="row-1 d-flex justify-content-center container" style="height: 10%; margin-top: 5%;">
    <h1 class=" d-flex justify-content-center">Gambela</h1>
  </div>
  <div class="row container d-flex align-items-center">
    <div class="col container">
      <img src="{% static 'img/Gambela (2).jpg'%}" alt="" style="width: 100%; height: 30em" />
    </div>
    <div class="col d-flex justify-content-center align-items-center container">
      <div>
        <h3 class="d-flex justify-content-center">some information about Gambela</h3>

        <br />
        <p class="fs-4">
          The Gambela Region (also spelled Gambella; Amharic: ጋምቤላ), officially the Gambela Peoples' Region, is a
          regional state in western Ethiopia, bordering South Sudan. Previously known as Region 12, its capital is
          Gambela. The Region is situated between the Baro and Akobo Rivers, with its western part including the Baro
          River.
        </p>
      </div>
    </div>
  </div>
</div>
<div class=" container-fluid d-flex justify-content-center vh-100">
  <div class="border m-3 d-flex justify-content-center align-items-center">
    <div class="vh-100">
      <div class="row d-flex align-items-center" style="height:20em">
        <h3 class="d-flex align-items-center justify-content-center ">
          Details about Gambela
        </h3>
      </div>
      <div class="row d-flex m-3 align-items-center justify-content-between">
        <div class="col d-flex justify-content-center">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body ">
              <div class="row">
                <h5 class="card-title d-flex justify-content-center">
                  <i class="fa-solid fa-ruler-vertical mx-2"></i>
                  Altitude
                </h5>

              </div>
              <div class="row d-flex align-items-center">
                <p class="card-text"> 400 to 700 meters above sea level</p>
              </div>


            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-center">
                <i class="fa-solid fa-cloud mx-2"></i>
                Climate
              </h5>

              <p class="card-text"> average annual temperature of 27°C and an average annual rainfall of 1,300 mm.</p>

            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-center">
                <i class="fa-solid fa-leaf mx-2"></i>
                Crops
              </h5>

              <p class="card-text">
                maize, sorghum, cassava, and rice. Gambela is also a major producer of oil palm
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}