<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="type.css" />
  </head>
  <body>
    <main class="vh-100">
      <div class="row container-fluid d-flex justify-content-center vh-100">
        <div
          class="row-1 d-flex justify-content-center container" style="height: 10%; margin-top: 5%;"
        >
          <h1 class=" d-flex justify-content-center">Gambela</h1>
        </div>
        <div class="row container d-flex align-items-center">
          <div class="col container">
            <img
              src="Gambela (2).jpg"
              alt=""
              style="width: 100%; height: 30em"
            />
          </div>
          <div
            class="col d-flex justify-content-center align-items-center container"
          >
            <div>
              <h3 class="d-flex justify-content-center">some information about Gambela</h3>

              <br />
              <p class="fs-4">
                Teff is a grain crop that is native to Ethiopia and is widely
                cultivated and consumed in the country. It is a small,
                gluten-free grain that is packed with nutrients, including
                protein, dietary fiber, iron, and calcium. Teff is also a good
                source of resistant starch, which has been linked to several
                health benefits, including improved digestion and reduced risk
                of chronic diseases. Teff is traditionally used to make injera,
                a fermented flatbread that is a staple in Ethiopian cuisine. It
                is also used to make porridges, stews, and other traditional
                dishes. Teff has gained popularity in recent years as a health
                food and gluten-free alternative to wheat flour.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class=" container-fluid d-flex justify-content-center vh-100">
        <div class="border m-3 d-flex justify-content-center align-items-center">
          <div class="vh-100">
            <div class="row d-flex align-items-center" style="height:20em">
              <h3 class="d-flex align-items-center justify-content-center ">
                Details about Gambela
              </h3>
            </div>
            <div class="row d-flex m-3 align-items-center justify-content-between">
              <div class="col d-flex justify-content-center">
                <div class="card m-4" style="width: 18rem;">
                  <div class="card-body ">
                    <div class="row">
                      <h5 class="card-title d-flex justify-content-center">
                        <i class="fa-solid fa-ruler-vertical mx-2"></i>
                        Altitude</h5>
                      
                    </div>
                    <div class="row d-flex align-items-center">
                      <p class="card-text">  400 to 700 meters above sea level</p>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="card m-4" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">
                      <i class="fa-solid fa-cloud mx-2"></i>
                      Climate</h5>
                    
                    <p class="card-text">  average annual temperature of 27°C and an average annual rainfall of 1,300 mm.</p>
                    
                  </div>
                </div>
              </div>
              <div class="col d-flex justify-content-center">
                <div class="card m-4" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">
                      <i class="fa-solid fa-leaf mx-2"></i>
                      Crops</h5>
                    
                    <p class="card-text">
                      maize, sorghum, cassava, and rice. Gambela is also a major producer of oil palm
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/b6f69eb112.js" crossorigin="anonymous"></script>
  </body>
</html>
